<!DOCTYPE html>
<html  xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">
    <div layout:fragment="site_content">
    <div class="row mt-6">
        <div class="col-6 offset-3">
            <form th:action="@{'/edit/'+${task.getId()}}" method="post">
                <div class="form-group">
                    <label>
                       TASK NAME:
                    </label>
                    <input type="text" class="form-control" name="name" th:value="${task.name}">
                </div>
                <div class="form-group">
                    <label>
                        TASK DESCRIPTOIN:
                    </label>
                    <textarea class="form-control" name="description" rows = "6" th:text="${task.description}"></textarea>
                </div>

                <div class="form-group">
                    <label>
                        TASK DEADLINE DATE:
                    </label>
                    <input type="date" class="form-control" name="date"  th:value="${task.deadLineDate}">

                </div>
                <div class="form-group">
                    <label>
                        COMPLETED:
                    </label>
                    <select name="completed" class="form-control" >
                        <option th:value="${task.isCompleted()}" th:text="${task.isCompleted()}" ></option>
                        <option value="false">NO</option>
                        <option value="true">YES</option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit" name="save">Save task</button>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                       delete
                    </button>
                </div>
            </form>

            <!-- Modal -->
            <form th:action="@{'/delete/'+${task.getId()}}" method="post">
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-primary">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

</html>