<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">
        <div layout:fragment = "site_content" >
                <form class=" mt-3" th:action="@{'/filter'}" method="get">
                    <div class="row">
                        <div class="form-group col-3">
                            <label>
                                Task Name:
                            </label>
                            <input  placeholder="Enter task name..." type="text" class="form-control" name="task_name">
                        </div>

                        <div class="form-group col-3">
                            <label>
                                Deadline Form:
                            </label>
                            <input type="date" class="form-control" name="deadline_from">
                        </div>

                        <div class="form-group col-3">
                            <label>
                                Deadline To:
                            </label>
                            <input type="date" class="form-control" name="deadline_to">
                        </div>

                        <div class="form-group col-2">
                            <label>
                                Completed:
                            </label>
                            <select name="completed" class="form-control">
                                <option value="true">YES</option>
                                <option value="false">NO</option>
                            </select>
                        </div>
                        <div class="form-group col-1 align-self-end">
                            <button type="submit" class="btn btn-info form-control">FILTER</button>
                        </div>
                    </div>
                </form>

                <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                        data-target="#addTaskModal">
                    +ADD NEW
                </button>
                <!-- Modal -->
                <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form th:action="@{'/addTask'}" method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">ADD TASKS</h5>
                                </div>


                                <div class="modal-body -xs">
                                    <div class="form-group">
                                        <label>NAME</label>
                                        <input type="text" class="form-control" name="item_name">
                                    </div>
                                    <div class="form-group">
                                        <label>DESCRIPTION</label>
                                        <input  type="text" class="form-control" name="item_desc">
                                    </div>
                                    <div class="form-group">
                                        <label>Task Deadline Date</label>
                                        <input  type="date" class="form-control" name="item_dead">
                                        <input  type="hidden" class="form-control" name="is_comp" value="false">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button class="btn btn-success mt-2 ml-3">Add Task</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>DEADLINE DATE</th>
                                <th>IS COMPLETED</th>
                                <th width="10%">DETAILS</th>
                            </tr>
                            </thead>
                            <tbody>
                                    <tr th:each = "it : ${tasks}">
                                        <td th:text = "${it.id}"></td>
                                        <td th:text = "${it.name}"></td>
                                        <td th:text = "${it.deadLineDate}"></td>
                                        <td th:text = "${it.isCompleted()}"></td>
                                        <td ><a th:href="@{'/details/'+ ${it.id}}" class="btn btn-info btn-sm">Details</a> </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>

</html>